node_modules/
dist/
.DS_Store
.private/
.env
.env.local
.env.*.local
.vercel
.env*
ud-label-system/node_modules/
ud-label-system/output/
ud-label-system/blender/output/
ud-label-system/blender/__pycache__/

